<!DOCTYPE html>
<html lang="uk">
  
  <head>
    <meta charset="UTF-8"/>
    <title>Сервіс Обліку Студентів</title>
    <meta name="description" 
          value="Система Обліку Студентів Навчального Закладу" />
    
    <!-- Include Styles -->
    <link rel="stylesheet" 
          href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">


    <link rel="stylesheet" href="css/main.css">


  </head>
  
  <body>
    
    <!-- Start Container -->
    <div class="container">

      <!-- Start Header -->
      <div class="row" id="header">

        <!-- Logo -->
        <div class="col-xs-8">
          <h1>Сервіс Обліку Студентів</h1>
        </div>

        <!-- Group Selector -->
        <div class="col-xs-4" id="group-selector">
          <strong>Група:</strong>
          <select>
            <option value="">Усі Студенти</option>
            <option value="">ТК-91, Семенюк Ігор (№777)</option>
            <option value="">ТК-91, Горобець Ігор (№007)</option>
          </select>
        </div>
      </div>
      <!-- End Header -->

      <!-- Start SubHeader -->
      <div class="row" id="sub-header">
        <div class="col-xs-12">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="/">Студенти</a></li>
            <li role="presentation"><a href="/journal">Відвідування</a></li>
            <li role="presentation"><a href="/groups">Групи</a></li>
          </ul>
        </div>
      </div>
      <!-- End SubHeader -->

      <!-- Start Main Page Content -->
      <div class="row" id="content-column">

        <div class="col-xs-12" id="content-column">
          
          <!-- Status Message -->
          <div class="alert alert-warning">Зміни скасовано.</div>

          <h2>База Студентів</h2>

          <!-- Add Student Button -->
          <a href="/students/add" class="btn btn-primary">Додати Студента</a>

          <!-- Start Student Listing -->
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th><a href="">№</a></th>
                <th>Фото</th>
                <th><a href="">Прізвище &uarr;</a></th>
                <th><a href="#">Ім'я</a></th>
                <th><a href="#">№ Білету</a></th>
                <th>Дії</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><img height="50" width="50" src="img/tweat.jpg" class="img-circle"></td>
                <td><a title="Редагувати" href="/students/1/edit">Горобець</a></td>
                <td><a title="Редагувати" href="/students/1/edit">Ігор</a></td>
                <td>007</td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle"
                            type="button" data-toggle="dropdown">Дія
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1"
                           href="/journal/1">Відвідування</a>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="/students/1/edit">Редагувати</a>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="/students/1/delete">Видалити</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>

            <tbody>
              <tr>
                <td>2</td>
                <td><img height="50" width="50" src="img/sem.png" class="img-circle"></td>
                <td><a title="Редагувати" href="#">Семенюк</a></td>
                <td><a title="Редагувати" href="#">Ігор</a></td>
                <td>777</td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle"
                            type="button" data-toggle="dropdown">Дія
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1"
                           href="#">Відвідування</a>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">Редагувати</a>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">Видалити</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>

            <tbody>
              <tr>
                <td>3</td>
                <td><img height="50" width="50" src="img/kfc.jpg" class="img-circle"></td>
                <td><a title="Редагувати" href="#">Совпадєніє?</a></td>
                <td><a title="Редагувати" href="#">Не думаю</a></td>
                <td>707</td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle"
                            type="button" data-toggle="dropdown">Дія
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1"
                           href="#">Відвідування</a>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">Редагувати</a>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">Видалити</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- End Student Listing -->

      <nav>
      	<ul class="pagination">
      	  <li><a href="#">&laquo;</a></li>
      	  <li><a href="#">1</a></li>
      	  <li class="active"><a href="#">2</a></li>
      	  <li><a href="#">3</a></li>
      	  <li><a href="#">4</a></li>
      	  <li><a href="#">5</a></li>
      	  <li><a href="#">&raquo;</a></li>
      	</ul>
      </nav>


        </div>

      </div>
      <!-- End Main Page Content -->

      <!-- Start Footer -->
      <div class="row" id="footer">
        <div class="col-xs-12">
          &copy;2016 Я Ломал Стекло
        </div>
      </div>
      <!-- End Footer -->

    </div>
    <!-- End Container-->


    <!-- Javascripts Section -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    

    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  

  </body>
  
</html>